<%- include('parts/navi', { cookies: cookies }) %>
<main>
    <div class="clvBorderBox clvLargeBody clvCenter">
        <div class="">

            <h1><i class="fa fa-comments"></i> Контакты</h1>
            <ul style="list-style: none;">
                <li><i class="fa fa-phone"></i> Телефон: +7 999 999 99 99</li>
                <li><i class="fa fa-envelope"></i> Электронная почта: cliva.wolf@mail.ru</li>
                <li><i class="fa fa-github"></i> Git/<a href="https://github.com/ClivaWolf/forumEngine">ClivaWolf/forumEngine</a></li>
            </ul>

        </div>
    </div>
</main>