<head>
    <script src="system/temp.js"></script>
    <!-- <link rel="stylesheet" href="css/threadOnPage.css"> -->
</head>

<%- include('parts/navi', { userInfo: userInfo }) %>

    <div class="clvLargeBody clvCenter clvBorderBox">
        <% if (userInfo!==null) { %>
            <form class="clvVertical" action="/createPost" method="POST">
                <h2 class="clvCenter clvSpaceBottom clvSpaceTop">Создание поста</h2>

                <input class="clvInputElement clvMinPadding maxSize2 clvSpaceBottom" type="text" name="name" placeholder="Название поста" required>
                <%- include('parts/editor') %>
                <input class="clvButton clvSpaceTop clvMinPadding clvSpaceBottom" type="submit" value="Создать пост">
                <script>window.onload = function () {document.getElementById("cke_editor1").classList.add("maxSize2");};</script>
                <input id="thread" type="hidden" name="thread" value="yourValue">
                <script>
                    document.getElementById("thread").value = window.location.pathname.split("/")[2];
                </script>

            </form>
            <% } else { %>
                <div class="clvLeft">
                    <h1>Для создания поста войдите в аккаунт</h1>
                </div>
                <% } %>
    </div>