<%- include('parts/navi') %>
<script src="system/temp.js"></script>

<main>
    <button onclick="sendPostRequest('newThread', 'newThreadInput')">create Thread</button>
    <input type="text" id="newThreadInput" placeholder="thread name">
    <br>
    <br>
    <br>
    <input type="text" id="message" placeholder="Enter your message">
    <button onclick="sendPostRequest()">Send Message</button>
    <br>
    <br>
    <br>
    <br>

    <% for(let threadName in threads) { %>
        <div class="thread">
            <h2><%= threads[threadName].name %></h2>
        </div>
    <% } %>
    <br>
    <br>
    <br>
    <%- include('parts/editor') %>
</main>