<head>
    <script src="system/temp.js"></script>
    <!-- <link rel="stylesheet" href="css/threadOnPage.css"> -->
</head>

<%- include('parts/navi', { userInfo: userInfo }) %>

    <main>
        <div class="clvLargeBody">
            <%- include('parts/wip') %>
                <% if (posts.length>0) { %>
                    <% for(let postName in posts) { %>
                        <div class="clvHorizontal clvSpaceBottom clvLine">
                            <div class="clvPadding">
                                <span class="icon-back">
                                    <i class="fa fa-sticky-note"></i>
                                </span>
                            </div>
                            <div class="clvHorizontal maxSize">
                                <div class="clvVertical clvLeft">
                                    <h2>
                                        <%= posts[postName].name %>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <% } %>
                <% } %>
                <% if (userInfo!==null) { %>
                    <div class="clvLeft">
                        <a id="createPost" class="clvButton noUnderline clvMinPadding" href="#/createPost">Создать пост</a>
                        <script>
                            window.onload = function() {
                                var createPostLink = document.getElementById("createPost");
                                createPostLink.href = createPostLink.href.replace("#/", "");
                            };
                        </script>
                    </div>
                <% } %>
        </div>
    </main>