<%- include('parts/navi', { cookies: cookies }) %>
    <script src="system/temp.js"></script>

    <main>

        <div class="clvBorderBox register">
            <form action="/log" method="post">

                <div class="clvPadding">
                    <div class="clvMinSpaceBottom">
                        <label for="uname">Имя:</label>
                    </div>

                    <div class="">
                        <input  class="maxSize clvInputElement clvMinPadding" id="name" name="uname" placeholder="Введите ваше имя" required>
                    </div>
                </div>
                <div class="clvPadding">
                    <div class="clvMinSpaceBottom">
                        <label for="psw">Пароль:</label>
                    </div>

                    <div class="">
                        <input class="maxSize clvInputElement clvMinPadding" type="password" id="password" name="psw" placeholder="Введите ваш пароль" required>
                    </div>
                </div>

                <div class="clvPadding">
                    <button class="maxSize clvButton accent clvMinPadding" type="submit">Войти</button>
                </div>

                <div class="clvPadding">
                    <span class="psw">Forgot <a href="/resetpass">password?</a></span>
                </div>
                <div class="clvPadding">
                    <span class="reg"><a href="/register">register</a></span>
                </div>
            </form>
        </div>
    </main>