<%- include('parts/navi', { cookies: cookies }) %>
    <script src="system/temp.js"></script>

    <main>
        <h3>Кажется, вы потерялись, навигационная панель сверху поможет вам встать на путь верный</h3>
    </main>