.clvBorderBox {
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    box-shadow: var(--border-shadow);
    border-radius: var(--standart-border-radius);
}

.clvLargeBody {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.clvCenter {
    margin: 0 auto;
}

.clvSpaceBottom {
    margin-bottom: 10px;
}

.clvMinSpaceBottom {
    margin-bottom: 5px;
}

.clvSpaceTop {
    margin-top: 10px;
}

.clvMinSpaceTop {
    margin-top: 5px;
}

.clvSpaceLeft {
    margin-left: 10px;
}

.clvMinSpaceLeft {
    margin-left: 5px;
}

.clvSpaceRight {
    margin-right: 10px;
}

.clvMinSpaceRight {
    margin-right: 5px;
}

.register {
    min-width: 300px;
    max-width: 700px;
}

.clvPadding {
    padding: 15px;
}

.clvMinPadding {
    padding: 5px;
}

.maxSize {
    width: 100%;
    max-width: 100% !important;
}

.maxSize2 {
    width: 100%;
    max-width: 95% !important;
}

.clvInputElement {
    background-color: var(--background-color-2);
    border: 1px solid var(--accent-border-color);
    border-radius: var(--standart-border-radius);

    color: var(--text-color);
}

.clvInputElement:hover {
    border: 1px solid var(--elements-color);
    cursor: text;
}

.clvInputElement:focus {
    outline: none;
    border: 1px solid var(--elements-color);
}

.clvInputElement:-internal-autofill-selected {
    background-color: var(--background-color-2) !important;
    border: 1px solid var(--accent-border-color);
}

.clvInputElement:active {
    border: 1px solid var(--elements-color);
}

.clvButton {
    background-color: var(--elements-color);
    border: 1px solid var(--elements-color);
    border-radius: var(--standart-border-radius);

    color: var(--text-color);
}

.clvButton:hover {
    background-color: rgba(var(--elements-color), 0.8);
    cursor: pointer;
}

.accent {
    background-color: var(--elements-color);
    border-color: var(--elements-color);
}

.accent:hover {
    background-color: rgb(var(--elements-color), 0.8);
}

.clvLargeText {
    font-size: 20px;
}

.clvHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.clvVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.clvLine{
    border-bottom: 1px solid var(--text-color);
}

.clvLeft{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.clvRotate {
    animation: rotate 4s linear infinite;
}

.clvUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.vCenter{
    display: flex;
    align-items: center;
    align-content: center;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }

.clvList{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.noUnderline:hover{
    text-decoration: none;
}

.clvBorderRadius{
    border-radius: var(--standart-border-radius);
}