.clvBorderBox{
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    box-shadow: var(--border-shadow);
    border-radius: var(--standart-border-radius);
}

.clvLargeBody{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.clvCenter{
    margin: 0 auto;
}

.clvSpaceBottom{
    margin-bottom: 10px;
}

.clvMinSpaceBottom{
    margin-bottom: 5px;
}

.register{
    min-width: 300px;
    max-width: 700px;
}

.clvPadding{
    padding: 15px;
}

.clvMinPadding{
    padding: 5px;
}

.maxSize{
    width: 100%;
    max-width: 100%!important;
}

.clvInputElement{
    background-color: var(--background-color-2);
    border: 1px solid var(--accent-border-color);
    border-radius: var(--standart-border-radius);

    color: var(--text-color);
}

.clvInputElement:hover{
    border: 1px solid var(--elements-color);
    cursor: text;
}

.clvInputElement:focus{
    outline: none;
    border: 1px solid var(--elements-color);
}

.clvInputElement:-internal-autofill-selected{
    background-color: var(--background-color-2)!important;
    border: 1px solid var(--accent-border-color);
}

.clvInputElement:active{
    border: 1px solid var(--elements-color);
}

.clvButton{
    background-color: var(--elements-color);
    border: 1px solid var(--elements-color);
    border-radius: var(--standart-border-radius);

    color: var(--text-color);
}

.clvButton:hover{
    background-color: rgba(var(--elements-color), 0.8);
    cursor: pointer;
}

.accent{
    background-color: var(--elements-color);
    border-color: var(--elements-color);
}

.accent:hover{
    background-color: rgb(var(--elements-color), 0.8);
}

.clvLargeText{
    font-size: 20px;
}