body {
    background-color: var(--secondary-color);
    margin: 0;

    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--primary-color);
}
   
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
   
nav li {
    float: left;
}
   
nav li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
   
nav li a:hover {
    background-color: var(--darker-color);
}

.center {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}