<div class="clvSpaceBottom clvBorderBox clvVertical">

    <input type="text" id="newThreadInput" placeholder="thread name" class="clvInputElement clvSpaceBottom">
    <button class="clvButton clvSpaceBottom" button onclick="sendPostRequest('newThread', 'newThreadInput', 'clivaadmin')">create Thread</button>

    <input type="text" id="message" placeholder="Enter your message" class="clvInputElement clvSpaceBottom">
    <button class="clvButton clvSpaceBottom" disabled="disabled" onclick="sendPostRequest()">Not Work</button>
</div>