<header>
  <link rel="stylesheet" type="text/css" href="/css/themes/dark.css">
  <link rel="stylesheet" type="text/css" href="/css/constructor.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <nav>
    <div class="clvLargeBody">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О проекте</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li></li>
        <li>
          <% if (cookies.session_id) { %>
            <a href="/logout">Выйти</a>
           <% } else { %>
            <a href="/login">Войти</a>
           <% } %>
        </li>
      </ul>
    </div>

  </nav>
</header>