:root{
    /* --primary-color: #333333;
    --secondary-color: #414141;
    --darker-color: #252525;
    --accent-color: #00ff95;
    --text-color: #f5f5f5; */

    --background-color: rgb(50,63,70);
    --background-color-2: rgb(32, 41, 46);
    --border-color: rgb(214, 214, 214);
    --accent-border-color: rgb(78, 207, 169);

    --elements-color: rgb(42, 206, 105);
    --text-color: rgb(249,253,251);

    --border-shadow: 0 0 2px 1px rgb(53, 53, 53);

    --standart-border-radius: 5px;
}