<div class="clvSpaceRight">
    <% if (userInfo.image) { %>
        <img src="<%= userInfo.image %>" alt="Avatar" class="avatar">
    <% } else { %>
        <span tooltip="<%= userInfo.name %>" class="noSelect clvUser clvLargeText" style="background-color: royalblue;"><%= userInfo.name[0].toUpperCase() %></span>
    <% } %>
</div>